{% extends "layout.jinja2" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Crossref </span> <span class="smaller">SCIHub Helper</span></h1>
    <form action="/">
       <input type="text" name="DOI"><br>
       <input type="submit" value="Submit">
  </form>
  <table id ="refs_table" class="display compact">
    <thead>
        <tr>
            <th>Link</th>
            <th>Title</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
    {% for ref in refs %}
    <tr>
        <td><a href="{{ ref[0] }}">SCIHub</a></td><td>{{ ref[1] }}</td><td>{{ ref[2] }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
<script type="text/javascript">

    $(document).ready( function () {
        $('#refs_table').DataTable();
    });
</script>
{% endblock content %}
